/* Variaveis de estilo da página */

:root {
  --nav-bar: #004882;
  --nav-var-dropdown: #1b3d59;
  --nav-links-hover: #ffffff32;
  --btn-menu: #315cfd;
  --main-txt: #000000;
  --title-txt: #fff;
  --main-background-color: #f5f5f5;
}

/* Estilo global da página */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

/* Estilos para a barra de navegação */

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: var(--nav-bar);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para a logo da barra de navegação */

.nav-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.nav-title a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 1rem;
}

.nav-title a:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.nav-title-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav-title span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--title-txt);
}

/* Estilos para os links barra de navegação */

nav ul {
  float: right;
  margin-right: 2rem;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: var(--title-txt);
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  background-color: var(--nav-links-hover);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  top: 6vh;
  overflow-wrap: break-word;
  background-color: var(--nav-var-dropdown);
  width: 20vw;
  z-index: 1;
  line-height: 2rem;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    visibility 0.5s;
  transform-origin: top;
}

.dropdown-content a {
  color: var(--title-txt);
  padding: 12px 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--nav-links-hover);
}

.dropdown:hover .dropdown-content {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.dropdown a:visited .dropdown-content {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

#about-dropdown {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Estilo para o conteúdo principal */

main {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  height: auto;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(img/background6.jpg) no-repeat center center;
  background-size: 130% 130%;

  min-height: 90vh;
}

.hero {
  width: 80%;
  min-height: 85vh;
  margin: auto;
  text-align: justify;
  text-justify: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--nav-links-hover);
  backdrop-filter: blur(4px);
  padding: 0 4rem;
  border-radius: 2rem;
}

.hero h1 {
  color: var(--title-txt);
  text-align: center;
  font-size: 5rem;
}

.hero p {
  color: var(--title-txt);
  font-weight: 600;
  font-size: 1.6rem;
}

.main-btn button {
  width: 16rem;
  height: 4rem;
  border: 0.2rem solid var(--btn-menu);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-btn button:hover {
  background: var(--btn-menu);
  color: var(--title-txt);
  font-size: 1.6rem;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicos {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.topicos h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.container-topicos {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.container-topicos img {
  display: flex;
  width: 100%;
  max-width: 16rem;
  border-radius: 1rem;
  transition: transform 0.5s ease;
}

.container-topicos img:hover {
  transform: scale(1.05);
}

.container-topicos h3 {
  margin: 0;
  margin-bottom: 2%;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-txt);
}

.container-topicos a {
  text-decoration: none;
}

.btn-2 {
  background-color: var(--btn-menu);
  padding: 0.3rem 2.2rem;
  color: var(--title-txt);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  min-width: 300px;
  min-height: 40px;
}

.conteudo {
  width: 70%;
  min-height: 90vh;
  text-align: justify;
  text-justify: auto;
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.conteudo h1 {
  text-align: center;
  font-size: 3rem;
  margin: 4rem;
}

.conteudo h2 {
  text-align: left;
  font-size: 2rem;
  margin: 2rem 0;
  margin-top: 4rem;
}

.conteudo p {
  margin: 2rem 0;
}

/* Containers para exibir imagens com legenda */

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

.img-container img {
  max-width: 80%;
  min-width: 20%;
}

.img-container p {
  flex-wrap: wrap;
  margin: 0;
}

/* Exibe imagens lado a lado */

#img-waves {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* Estilo para o conteúdo curiosidades */

.container-curiosidades {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.curiosidades-titulo {
  width: 100%;
  padding: 2rem;
  background-color: var(--nav-bar);
  color: var(--title-txt);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 2rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
}

.curiosidades-titulo .seta {
  margin-right: 1rem;
  transition: transform 0.3s ease;
}

.curiosidades-titulo.active .seta {
  transform: rotate(90deg); /* Rotaciona a seta quando o conteúdo é expandido */
}

.curiosidades-conteudo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  background-color: var(--main-background-color);
  border-radius: 1rem;
}

.curiosidades-conteudo p {
  padding: 2rem 3rem;
  background-color: var(--main-background-color);
  margin: 0;
  font-size: 1rem;
}

/* Estilo para o container das simulações */

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

#cnv {
  border: 1px solid black;
  background: linear-gradient(to top, #ffa732 0%, #75caff 40%);
}

#simulador-mares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#simulador-mares p {
  flex-wrap: wrap;
  width: 90%;
}

#simulador-pressao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#simulador-pressao p {
  flex-wrap: wrap;
  width: 90%;
}

#tela {
  border: 1px solid black;
  background-image: url(/img/Pressao02.jpg);
  background-size: contain;
  max-width: 1000px;
}

.displaynumeros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  align-items: center;
}

#unidadePressao {
  width: 60px;
  height: 40px;
  font-size: 18px;
}

/* Estilo para o rodapé */

footer {
  background-color: var(--nav-bar);
  color: var(--title-txt);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-weight: bold;
}

/* Estilos para responsividade */

@media (max-width: 2560px) and (min-width: 1921px) {
 

  .img-container img {
    max-width: 100%;
    min-width: 30%;
  }

  .container-hero {
    height: 90vh;
  }

  .hero {
    padding: 0.2rem;
    height: 80vh;
    width: 85%;
  }

  .hero h1 {
    font-size: 16rem;
  }

  .hero p {
    font-size: 2rem;
    width: 90%;
  }

  .main-btn button {
    width: 32rem;
    height: 4rem;
    font-size: 2rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .topicos h1 {
    font-size: 6rem;
  }

  #about-btn {
    visibility: hidden;
  }

  #about-dropdown {
    display: block;
  }

  footer p {
    font-size: 2rem;
    width: 50%;
  }

  .nav-title {
    margin-left: 4rem;
  }

  .nav-title span {
    font-size: 2rem;
  }

  .nav-title img {
    min-width: 6rem;
  }

  nav ul li a {
    padding: 0;
    font-size: 2rem;

  }

  nav ul {
    margin-right: 8rem;
  }

  .dropdown-content {
    right: -2rem;

    background-color: var(--nav-var-dropdown);
    width: 20vw;
    z-index: 1;
    line-height: 6rem;

    transform: scaleX(0);

    transform-origin: right;
  }

  .conteudo {
    width: 80%;
    min-height: 90vh;
    font-size: 1.5rem;
  }

  .conteudo h1 {
    font-size: 5rem;
    margin: 8rem;
  }

  .conteudo h2 {
    text-align: left;
    font-size: 3rem;
    margin: 2rem 0;
    margin-top: 4rem;
  }

  .conteudo p {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .curiosidades-titulo {
    font-size: 0.8rem;
  }

  .container-curiosidades {
    width: 90%;
    margin: 2rem auto;
  }

  .container-topicos {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-around;
    text-align: center;
  }

  .container-topicos img {
    display: flex;
    width: 100%;
    max-width: 24rem;
    border-radius: 1rem;
    transition: transform 0.5s ease;
  }

  .container-topicos h3 {
    margin: 0;
    margin-bottom: 2%;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-txt);
  }
}

@media (max-width: 1920px) and (min-width: 1440px) {

  .topicos {
    min-height: 40vh;
  }

  .container-topicos {
    max-width: 70%;
  }
}

/* Ajustes específicos para resoluçöes entre 1440x900 e 1280x720 */

@media (max-width: 1439px) and (min-width: 1279px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.4rem;
  }

  .main-btn button {
    width: 12rem;
    font-size: 1.2rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .container-topicos {
    max-width: 90%;
  }

  #simulador-mares iframe {
    width: 1024px;
    height: 640px;
  }

  #simulador-mares p {
    flex-wrap: wrap;
    width: 90%;
  }

}

/* Ajustes específicos para resoluçöes entre 769 e 1023 pixels (TABLET) */

@media (max-width: 1023px) and (min-width: 769px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.4rem;
  }

  .main-btn button {
    width: 12rem;

    font-size: 1.2rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .container-topicos {
    max-width: 90%;
  }

  #simulador-mares iframe {
    width: 640px;
    height: 640px;
  }

  #simulador-pressao iframe {
    width: 640px;
    height: 600px;
  }
}

/* Ajustes específicos para resoluçöes entre 768 e 668 pixels horizontais (TABLET P)*/

@media (max-width: 768px) and (min-width: 668px) {
  #simulador-mares iframe {
    width: 640px;
    height: 640px;
  }

  #simulador-pressao iframe {
    width: 640px;
    height: 600px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.4rem;
  }

  .main-btn button {
    width: 12rem;

    font-size: 1.2rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .topicos h1 {
    font-size: 1.6rem;
  }

  #about-btn {
    visibility: hidden;
  }

  #about-dropdown {
    display: block;
  }

  .curiosidades-titulo {
    font-size: 1.5rem;
  }
}

/* Ajustes específicos para resoluçöes entre 667 e 425 pixels horizontais (CELULAR G) */

@media (max-width: 667px) and (min-width: 425px) {
  #simulador-mares iframe {
    width: 380px;
    height: 840px;
  }

  #simulador-pressao iframe {
    width: 360px;
    height: 600px;
  }

  #cnv {
    max-width: 380px;
  }

  #graph {
    max-width: 380px;
  }

  .hero {
    padding: 1rem;

    width: 85%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 0.9rem;
    width: 90%;
  }

  .main-btn button {
    width: 16rem;
    height: 3rem;
    font-size: 1.3rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .topicos h1 {
    font-size: 1.6rem;
  }

  #about-btn {
    visibility: hidden;
  }

  #about-dropdown {
    display: block;
  }

  footer p {
    font-size: 0.8rem;
    width: 50%;
  }

  .nav-title span {
    font-size: 0.7rem;
  }

  nav ul li a {
    padding: 0;
  }

  .dropdown-content {
    right: -2rem;

    background-color: var(--nav-var-dropdown);
    width: 100vw;
    z-index: 1;

    transform: scaleX(0);

    transform-origin: right;
  }

  .conteudo {
    width: 80%;
    min-height: 90vh;
    font-size: 1.5rem;
  }

  .conteudo h1 {
    font-size: 2rem;
    margin: 3rem;
  }

  .conteudo h2 {
    text-align: left;
    font-size: 2rem;
    margin: 2rem 0;
    margin-top: 4rem;
  }

  .conteudo p {
    font-size: 1rem;
    margin: 2rem 0;
  }

  .curiosidades-titulo {
    font-size: 1rem;
  }
}

/* Ajustes específicos para resoluçöes entre 424 e 375 pixels horizontais (CELULAR M)*/

@media (max-width: 424px) and (min-width: 375px) {
  #simulador-mares iframe {
    width: 360px;
    height: 840px;
  }

  #simulador-pressao iframe {
    width: 360px;
    height: 600px;
  }

  #cnv {
    max-width: 360px;
  }

  #graph {
    max-width: 360px;
  }

  .container-hero {
    height: 90vh;
  }

  .hero {
    padding: 0.2rem;
    height: 80vh;
    width: 85%;
  }

  .hero h1 {
    font-size: 2.4rem;
  }

  .hero p {
    font-size: 0.7rem;
    width: 90%;
  }

  .main-btn button {
    width: 16rem;
    height: 3rem;
    font-size: 1.3rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .topicos h1 {
    font-size: 1.6rem;
  }

  #about-btn {
    visibility: hidden;
  }

  #about-dropdown {
    display: block;
  }

  footer p {
    font-size: 0.7rem;
    width: 50%;
  }

  .nav-title span {
    font-size: 0.5rem;
  }

  nav ul li a {
    padding: 0;
  }

  .dropdown-content {
    right: -2rem;

    background-color: var(--nav-var-dropdown);
    width: 100vw;
    z-index: 1;

    transform: scaleX(0);

    transform-origin: right;
  }

  .conteudo {
    width: 80%;
    min-height: 90vh;
    font-size: 1.5rem;
  }

  .conteudo h1 {
    font-size: 2rem;
    margin: 3rem;
  }

  .conteudo h2 {
    text-align: left;
    font-size: 2rem;
    margin: 2rem 0;
    margin-top: 4rem;
  }

  .conteudo p {
    font-size: 1rem;
    margin: 2rem 0;
  }

  .curiosidades-titulo {
    font-size: 1rem;
  }
}

/* Ajustes específicos para resoluçöes entre 374 e 320 pixels horizontais (CELULAR P)*/

@media (max-width: 374px) and (min-width: 320px) {
  #simulador-mares iframe {
    width: 300px;
    height: 840px;
  }

  #simulador-pressao iframe {
    width: 300px;
    height: 600px;
  }

  #cnv {
    max-width: 300px;
  }

  #graph {
    max-width: 300px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }

  .img-container img {
    max-width: 100%;
    min-width: 30%;
  }

  #img-waves {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container-hero {
    height: 90vh;
  }

  .hero {
    padding: 0.2rem;
    height: 80vh;
    width: 85%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.7rem;
    width: 90%;
  }

  .main-btn button {
    width: 16rem;
    height: 3rem;
    font-size: 1.3rem;
  }

  .main-btn button:hover {
    font-size: 1.4rem;
  }

  .topicos h1 {
    font-size: 1.2rem;
  }

  #about-btn {
    visibility: hidden;
  }

  #about-dropdown {
    display: block;
  }

  footer p {
    font-size: 0.6rem;
    width: 50%;
  }

  .nav-title {
    margin-left: 1rem;
  }

  .nav-title span {
    font-size: 0.5rem;
  }

  .nav-title img {
    max-width: 2rem;
  }

  nav ul li a {
    padding: 0;
    font-size: 0.8rem;
  }

  .dropdown-content {
    right: -2rem;

    background-color: var(--nav-var-dropdown);
    width: 100vw;
    z-index: 1;

    transform: scaleX(0);

    transform-origin: right;
  }

  .conteudo {
    width: 80%;
    min-height: 90vh;
    font-size: 1.5rem;
  }

  .conteudo h1 {
    font-size: 1.5rem;
    margin: 3rem;
  }

  .conteudo h2 {
    text-align: left;
    font-size: 1.2rem;
    margin: 2rem 0;
    margin-top: 4rem;
  }

  .conteudo p {
    font-size: 1rem;
    margin: 2rem 0;
  }

  .curiosidades-titulo {
    font-size: 0.8rem;
  }

  .container-curiosidades {
    width: 90%;
    margin: 2rem auto;
  }
}
